.create {
	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: 20px;

		form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				border: 1px solid black;
				padding: 10px;
				outline: none;

				&:focus {
					border-color: purple;
				}
			}

			button {
				border: 1px solid black;
				padding: 10px;
				outline: none;

				&:active {
					border-color: purple;
				}
			}
		}
	}
}
